<footer>
    <div class="footer-component-link-container">
        <a href="https://github.com/HiMarioLopez/music.mariolopez.org/tree/main/src/app/frontend/music/music-blazor"
            target="_blank" rel="noopener noreferrer">Site Source</a>
        <a href="https://music.mariolopez.org/" target="_blank" rel="noopener noreferrer">Randomize</a>
        <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank"
            rel="noopener noreferrer">Blazor</a>
    </div>
    <div class="footer-component-copyright-container">© 2024 Mario Lopez</div>
</footer>

@code {

}
