@inject IJSRuntime JsRuntime;
@inject Microsoft.AspNetCore.Components.WebAssembly.Hosting.IWebAssemblyHostEnvironment Environment;
@using Music.Enum;

<nav>
    @foreach (var framework in Enum.GetValues(typeof(Framework)))
    {
        var frameworkName = framework.ToString().ToLower();

        <a href="@GetItemUrl((Framework)framework)" target="_self" rel="alternate">
            <img src="@($"/{(Environment.Environment == "Production" ? "blazor/" : "")}images/{frameworkName}.svg")"
                alt="@frameworkName" class="@(framework.ToString() == "Blazor" ? "focused-icon" : "")" />
        </a>
    }
</nav>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("scrollToRight");
        }
    }

    private string GetItemUrl(Framework framework)
    {
        // If URLs directly match the enum names, convert to lowercase or any specific case
        var frameworkName = (framework == Framework.TypeScript)
        ? "vanilla"
        : framework.ToString().ToLower();

        return $"https://music.mariolopez.org/{frameworkName}";
    }
}
