@using Music.Models

<div class="now-playing-component styled-container">
    <img src="@_currentSong.AlbumCoverUrl" alt="Album Art" />
    <div class="now-playing-component-text-container">
        <h1 class="header-title">Mario's Now Playing</h1>
        <div class="now-playing-component-text">
            <h2>@_currentSong.SongTitle</h2>
            <p>@_currentSong.ArtistName</p>
            <p>@_currentSong.AlbumName</p>
        </div>
    </div>
</div>

@code {
    private Song _currentSong = new Song("Song Title", "Artist", "Album", "https://placehold.co/300");
}