@using Microsoft.AspNetCore.Components.Forms

<div class="recommendation-form-component styled-container">
    <h1>Recommend a Song</h1>
    <EditForm class="customForm" Model="@this" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <InputText class="customTextInput" id="songTitle" @bind-Value="@_songTitle" placeholder="Find a song on Apple Music..." required />
        <button type="submit">Recommend</button>
    </EditForm>
</div>

@code {
    [Parameter]
    public EventCallback<string> OnRecommend { get; set; }

    private string _songTitle = "";

    private async Task HandleSubmit()
    {
        if (!string.IsNullOrWhiteSpace(_songTitle))
        {
            await OnRecommend.InvokeAsync(_songTitle);
            _songTitle = ""; // Reset the song title after recommending
        }
    }
}
