/* App.css */

/* Reset margins and padding on the body and html */

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Keyframes for the gradient animation */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Make sure the App component takes up all available space */
.app {
    position: absolute;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}

.app-bg {
    position: fixed;
    background: linear-gradient(-45deg, #FFFFFF, #61DAFB, #60A4F4, #5cf8db, #1f2378);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 100vh;
    width: 100vw;
}

/* This is for screens larger than 1300px */
@media (min-width: 1300px) {
    .app {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-content {
        max-width: 1200px;
        /* Maximum width of the main content area */
        display: flex;
        flex-direction: row;
        /* Arrange left and right columns side by side */
        align-items: flex-start;
        /* Align the columns to the start of the cross axis */
        justify-content: space-between;
        /* Put space between the two columns */
        margin: 20px;
        /* Add some margin around the main content for breathing room */
    }

    .left-column,
    .right-column {
        width: calc(50% - 20px);
        /* Subtracting margin from 50% width */
        margin: 0 20px;
        /* Spacing between the columns */
    }

    .now-playing-container,
    .recommendation-form-container,
    .recommendations-list-container {
        width: 100%;
        /* Each child takes full width of its parent column */
        margin-bottom: 20px;
        /* Adds space between the stacked components within each column */
    }

    /* Remove the margin-bottom from the last item in the right column */
    .recommendations-list-container:last-child {
        margin-bottom: 0;
    }
}

/* This is for screens smaller than 1299px */
@media (max-width: 1299px) {
    .app {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .now-playing-container,
    .recommendation-form-container,
    .recommendations-list-container {
        width: 100%;
        /* Take the full width of the container */
        margin: 20px 0;
        /* Adds space between components vertically */
    }

    .main-content {
        padding-top: 60px;
        /* Padding for Navbar */
    }
}

/* Adjustments for mobile responsiveness */
@media (max-width: 680px) {
    .main-content {
        padding-top: 40px;
        /* Padding for Navbar */
    }

    .app,
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Stretch items to use the full width */
        justify-content: flex-start;
        /* Align content to start at the top */
    }

    .now-playing-container {
        width: 100%;
        /* Full width */
        margin: 20px 0;
        /* Only vertical margin */
        padding: 0;
        /* No horizontal padding */
    }
}