.recentlyPlayedListComponent {
    align-items: normal;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.recentlyPlayedListComponent h1 {
    width: 100%;
    text-align: left;
    margin: 0 0 var(--margin-medium);
}

.recentlyPlayedListComponentListContainer {
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.recentlyPlayedListComponentListContainer::-webkit-scrollbar {
    display: none;
}

.recentlyPlayedListComponentTrack {
    display: inline-flex;
    align-items: center;
    padding: var(--padding-medium);
    margin-right: var(--margin-medium);
    border-radius: var(--border-radius-medium);
    background: var(--track-bg-color);
    height: 60px;
}

.recentlyPlayedListComponentTrack:hover {
    background: var(--track-bg-color-hover);
}

.recentlyPlayedListComponentTrack:last-child {
    margin-right: 0;
}

.recentlyPlayedListComponentTrack img {
    width: var(--album-art-size-small);
    height: var(--album-art-size-small);
    margin-right: var(--margin-medium);
    border-radius: var(--border-radius-small);
}

.recentlyPlayedListComponentTrackTextContainer {
    display: flex;
    flex-direction: column;
    margin-right: var(--margin-small);
}

.recentlyPlayedListComponentTrackTextContainer h3,
.recentlyPlayedListComponentTrackTextContainer p {
    margin: 0;
    color: var(--font-color);
}

@media (max-width: 680px) {
    .recentlyPlayedListComponent {
        width: var(--width-mobile);
    }
}