/* NowPlaying/index.css */

.now-playing-modal {
    background: rgba(50, 50, 50, 0.6);
    color: aliceblue;
    padding: 20px;
    border-radius: 15px;
    /* Adjust for desired roundness */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* This adds a subtle shadow */
    display: flex;
    align-items: center;
    /* Vertical alignment */
    justify-content: flex-start;
    /* Centers the modal and adds space around it */
    max-width: 600px;
    /* Adjust as needed */
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}

.album-art {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-right: 20px;
}

.content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.header-title {
    margin: 0;
}

.music-info {
    text-align: left;
}

.music-info h2,
.music-info p {
    margin: 0;
}

@media (max-width: 680px) {

    .now-playing-modal {
        flex-direction: column;
        /* Stack the children vertically */
        align-items: center;
        /* Center align the children */
        text-align: center;
        /* Center the text for all child elements */
        width: 100%;
        /* Full width */
        max-width: none;
        /* Remove any maximum width restrictions */
        padding: 20px;
        /* Adjust if necessary, but keep it consistent all around */
        box-sizing: border-box;
        /* Ensure padding doesn't affect the overall width */
    }

    .album-art {
        width: 100%;
        height: auto;
        margin: 10px 0;
        order: 1;
    }

    .header-title {
        text-align: start;
        height: auto;
        margin-bottom: 10px;
    }

    .content-container {
        height: auto;
    }
}