.nowPlayingModal {
    background: rgba(50, 50, 50, 0.6);
    color: aliceblue;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), inset 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 600px;
}

.albumArt {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-right: 20px;
}

.contentContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.headerTitle {
    margin: 0;
}

.musicInfo {
    text-align: left;
}

.musicInfo h2,
.musicInfo p {
    margin: 0;
}

@media (max-width: 680px) {
    .nowPlayingModal {
        flex-direction: column-reverse;
        width: 80vw;
        max-width: none;
    }

    .albumArt {
        width: 80vw;
        height: auto;
        margin: 10px 0;
    }

    .headerTitle {
        width: 80vw;
        margin-bottom: 10px;
    }

    .musicInfo {
        width: 80vw;
    }

    .contentContainer {
        height: auto;
    }
}