<div class="app-bg"></div>
<div class="app">
  <app-navbar></app-navbar>
  <div class="main-content">
    <div class="left-column">
      <div class="now-playing-container">
        <app-now-playing />
      </div>
      <app-recently-played-list />
    </div>
    <div class="right-column">
      <div class="recommendation-form-container">
        <app-recommendation-form (onRecommend)=handleNewRecommendation($event) />
      </div>
      <div class="recommendations-list-container">
        <app-recommendation-list [recommendations]="recommendations" />
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>