<div class="recommendation-list-component styled-container">
    <h1>Recommendation Backlog</h1>
    <ul>
        <li *ngFor="let recommendation of recommendations; let i = index">
            <img [src]="recommendation.albumCoverUrl" alt="Album Cover" />
            <div class="recommendation-list-component-track-text-container">
                <h3>{{ recommendation.songTitle }}</h3>
                <p>{{ recommendation.artistName }} - {{ recommendation.albumName }}</p>
            </div>
        </li>
    </ul>
</div>