html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

:root {
  --font-color: aliceblue;

  --navbar-bg-color: rgb(26, 26, 26);
  --component-bg-color: rgba(50, 50, 50, 0.6);
  --input-bg-color: rgba(32, 35, 42, 0.7);
  --track-bg-color: rgba(60, 60, 60, 0.6);
  --track-bg-color-hover: rgba(75, 75, 75, 0.7);
  --scrollbar-start-color: rgba(255, 255, 255, 0.5);
  --scrollbar-end-color: rgba(0, 0, 0, 0.1);

  --border-radius-large: 15px;
  --border-radius-medium: 7px;
  --border-radius-small: 3px;

  --padding-large: 20px;
  --padding-medium: 10px;

  --margin-large: 20px;
  --margin-medium: 10px;
  --margin-small: 5px;

  --navbar-height-desktop: 40px;
  --navbar-height-mobile: 30px;
  --footer-height-desktop: 40px;
  --footer-height-mobile: 70px;
  --width-mobile: 80vw;

  --input-border: 2px solid #fc3c44;
  --button-hover-bg-color: #f94c57;
  --button-bg-color: #fc3c44;
  --focus-border-color: #f94c57;
  --primary-color: #fc3c44;

  --album-art-size-small: 50px;
  --album-art-size-medium: 200px;
  --album-art-size-large: 350px;

  --transition-speed: 0.3s ease;

  --gradient-color-1: #42b883;
  --gradient-color-2: #35495e;
  --gradient-color-3: #41d1ff;
  --gradient-color-4: #2f495e;
  --gradient-color-5: #6ee7b7;
}