.recommendation-list-component::-webkit-scrollbar {
    width: 12px;
}

.recommendation-list-component::-webkit-scrollbar-track {
    background: var(--scrollbar-end-color);
}

.recommendation-list-component::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-start-color);
    border-radius: var(--border-radius-medium);
    border: 3px solid var(--scrollbar-end-color);
}

/* Mobile adjustments */
@media (max-width: 680px) {
    .recommendation-list-component {
        width: var(--width-mobile);
        max-width: none;
    }
}
