/* components/Navbar.css */

.navbar {
    display: flex;
    flex-wrap: nowrap;
    /* Ensure items do not wrap */
    overflow-x: auto;
    /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch;
    /* Smooth scrolling on touch devices */
    justify-content: center;
    padding: 10px;
    background: rgba(35, 35, 35, 0.9);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* High z-index to ensure it's on top */
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
}

.nav-icon {
    width: 40px;
    /* Standard size for icons */
    height: 40px;
    /* Standard size for icons */
    margin: 0 10px;
    /* Space between icons */
}

.blazor-icon {
    opacity: 1;
    /* Full opacity for the active icon */
    margin-left: -1px;
    margin-top: -4px;
    padding-right: 2.5vw;
}

.nav-icon:not(.blazor-icon) {
    opacity: 0.25;
    /* Dim other icons to indicate they're not the current selection */
}

.nav-icon:hover {
    filter: drop-shadow(0 0 0.5em rgba(255, 255, 255, 0.3));
    /* General highlight effect for all icons */
    transition: filter 0.3s ease;
    /* Smooth transition for the effect */
    opacity: 1;
    /* Full opacity for the hovered icon */
    transition: opacity 0.3s ease;
    /* Smooth transition for the effect */
}

@media (max-width: 680px) {
    .navbar {
        height: 30px;
    }

        /* Hide scrollbar for Chrome, Safari, and Opera */
        .navbar::-webkit-scrollbar {
            display: none;
        }

    .nav-icon {
        width: 30px;
        /* Standard size for icons */
        height: 30px;
        /* Standard size for icons */
        margin: 0 7px;
        /* Space between icons */
    }

    .blazor-icon {
        margin-top: -3px;
    }
}
