.song {
  display: flex;
  align-items: center;
  padding: var(--padding-medium);
  border-radius: var(--border-radius-medium);
  background: var(--track-bg-color);
  height: auto;
  transition:
    transform 0.2s ease-in-out,
    background 0.2s ease;
  margin: 0 8px;
  width: 280px !important;
}

.song:hover {
  background: var(--track-bg-color-hover);
  transform: translateY(-2px);
}

.albumArtContainer {
  width: 50px;
  height: 50px;
  margin-right: var(--margin-small);
  flex-shrink: 0;
}

.song img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  display: block;
}

.songTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  max-width: calc(100% - 60px);
  width: 100%;
}

.songTitleContainer {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 2px;
}

.songTextContainer h3,
.songTextContainer p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.songTextContainer p {
  max-width: 100%;
  font-size: 0.9em;
}

@media (max-width: 680px) {
  .song {
    width: 220px !important;
  }

  .songTitleContainer {
    gap: 4px;
  }
}
