.footerComponent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footer-height-desktop);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-medium) 0;
    background-color: var(--navbar-bg-color);
    color: var(--font-color);
}

.footerComponent a {
    margin: 0 var(--margin-medium);
    color: var(--font-color);
    text-decoration: none;
}

.footerComponent a:hover {
    text-decoration: underline;
}

.footerComponent .footerComponentLinkContainer {
    margin: 0 var(--margin-medium);
}

@media (max-height: 1000px) and (max-width: 680px),
(max-width: 1299px) and (max-height: 1080px),
(max-width: 680px) {
    .footerComponent {
        position: relative;
        flex-direction: column;
        height: auto;
        font-size: small;
    }

    .footerComponent .footerComponentCopyrightContainer {
        margin: var(--margin-small) 0;
    }

    .footerComponent .footerComponentLinkContainer {
        margin: var(--margin-small) 0;
    }
}