<nav #navElement>
  <a href="https://music.mariolopez.org" target="_self" rel="alternate">
    <img src="assets/random.svg" alt="Random" title="View a random framework implementation" />
  </a>
  <a href="https://music.mariolopez.org/react" target="_self" rel="alternate" title="React implementation of the Music site">
    <img src="assets/react.svg" alt="React" />
  </a>
  <a href="https://music.mariolopez.org/vanilla" target="_self" rel="alternate" class="underConstruction" tabindex="-1" aria-disabled="true">
    <img src="assets/typescript.svg" alt="TypeScript" />
  </a>
  <a href="https://music.mariolopez.org/lit" target="_self" rel="alternate" class="underConstruction" tabindex="-1" aria-disabled="true">
    <img src="assets/lit.svg" alt="Lit" />
  </a>
  <a href="https://music.mariolopez.org/qwik" target="_self" rel="alternate" class="underConstruction" tabindex="-1" aria-disabled="true">
    <img src="assets/qwik.svg" alt="Qwik" />
  </a>
  <a href="https://music.mariolopez.org/solid" target="_self" rel="alternate" class="underConstruction" tabindex="-1" aria-disabled="true">
    <img src="assets/solid.svg" alt="Solid" />
  </a>
  <a href="https://music.mariolopez.org/svelte" target="_self" rel="alternate" class="underConstruction" tabindex="-1" aria-disabled="true">
    <img src="assets/svelte.svg" alt="Svelte" />
  </a>
  <a href="https://music.mariolopez.org/vue" target="_self" rel="alternate" class="underConstruction" tabindex="-1" aria-disabled="true">
    <img src="assets/vue.svg" alt="Vue" />
  </a>
  <a href="https://music.mariolopez.org/preact" target="_self" rel="alternate" class="underConstruction" tabindex="-1" aria-disabled="true">
    <img src="assets/preact.svg" alt="Preact" />
  </a>
  <a href="https://music.mariolopez.org/angular" target="_self" rel="alternate" class="focusedIcon">
    <img src="assets/angular.webp" alt="Angular" />
  </a>
  <a href="https://music.mariolopez.org/next" target="_self" rel="alternate" class="underConstruction" tabindex="-1" aria-disabled="true">
    <img src="assets/next.svg" alt="Next" />
  </a>
</nav>

