.recentlyPlayedListComponent {
  align-items: normal;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
}

.recentlyPlayedListComponent h1 {
  /* Have to manually set back 'side' padding to keep 'overflow' style working */
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);

  width: 100%;
  text-align: left;
  margin: 0 0 var(--margin-medium);
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Remove margin from the last carousel row */
.recentlyPlayedListComponent
  app-carousel-row:last-child
  ::ng-deep
  .recentlyPlayedListRow {
  margin-bottom: 0;
}

@media (max-width: 680px) {
  .recentlyPlayedListComponent {
    width: var(--width-mobile);
  }
}
