@using Music.Models

<div class="recommendation-list-modal">
    <h1>Recommendation Backlog</h1>
    <ul>
        @foreach (var recommendation in Recommendations)
        {
            <li class="recommendation-item">
                <img src="@recommendation.AlbumCoverUrl" alt="Album Cover" class="album-cover" />
                <div class="song-info">
                    <h3>@recommendation.SongTitle</h3>
                    <p>@recommendation.ArtistName - @recommendation.AlbumName</p>
                </div>
            </li>
        }
    </ul>
</div>

@code {
    [Parameter]
    public List<Song> Recommendations { get; set; } = default!;
}
