.recently-played-list-modal {
    background: rgba(50, 50, 50, 0.6);
    color: aliceblue;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.recently-played-list-modal h1 {
    width: 100%;
    /* Fills the width */
    text-align: left;
    /* Aligns text to the left */
    margin-top: 0;
    /* Removes the default top margin */
    margin-bottom: 10px;
    /* Adds space below the header */
}

.scroll-container {
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For IE and Edge */
}

.scroll-container::-webkit-scrollbar {
    display: none;
    /* Hides scrollbar for WebKit browsers (Chrome, Safari, Opera) */
}

.play-item {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    /* Consistent right margin for all items */
    background: rgba(60, 60, 60, 0.6);
    height: 60px;
    /* Ensures consistent item height */
}

.play-item:last-child {
    margin-right: 0;
    /* Removes the right margin for the last item */
}

.album-cover {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    /* Space between the cover and song info */
    border-radius: 3px;
    /* Matches modal border-radius style */
}

.song-info {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    /* Space to the right of the song info */
}

.song-info h3,
.song-info p {
    margin: 0;
    /* Removes default margins */
    color: aliceblue;
    /* Ensures text color consistency */
}

@media (max-width: 680px) {
    .recently-played-list-modal {
        width: 80vw;
        max-width: none;
        /* Ensures modal uses available width on smaller screens */
    }
}