<div class="recently-played-list-component styled-container">
    <h1>Recently Played</h1>
    <div class="recently-played-list-component-list-container" #scrollContainer>
        <div *ngFor="let play of recentlyPlayed; let i = index" class="recently-played-list-component-track">
            <img [src]="play.albumCoverUrl" alt="Album Cover" />
            <div class="recently-played-list-component-track-text-container">
                <h3>{{ play.songTitle }}</h3>
                <p>{{ play.artistName }} - {{ play.albumName }}</p>
            </div>
        </div>
    </div>
</div>