<footer>
    <div class="footer-component-link-container">
        <a href="https://github.com/HiMarioLopez/music.mariolopez.org/tree/main/src/app/frontend/music/music-angular"
            target="_blank" rel="noopener noreferrer">Site Source</a>
        <a href="https://music.mariolopez.org/" target="_blank" rel="noopener noreferrer">Randomize</a>
        <a href="https://angular.io/" target="_blank" rel="noopener noreferrer">Angular</a>
    </div>
    <div class="footer-component-copyright-container">© 2024 Mario Lopez</div>
</footer>