.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
}

.mainContent {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: calc(var(--footer-height-desktop) + var(--padding-large));
  width: 100%;
}

.recentlyPlayedContainer {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (min-width: 1300px) {
  .mainContent {
    max-width: 800px;
    display: flex;
    justify-content: center;
  }

  .centerColumn {
    width: 100%;
    max-width: 600px;
  }

  .nowPlayingContainer,
  .recentlyPlayedContainer {
    margin-bottom: var(--margin-large);
  }
}

@media (min-width: 1000px) and (max-width: 1299px) {
  .mainContent {
    max-width: 700px;
    display: flex;
    justify-content: center;
  }

  .centerColumn {
    width: 100%;
    max-width: 600px;
  }

  .nowPlayingContainer,
  .recentlyPlayedContainer {
    margin-bottom: var(--margin-medium);
  }
}

@media (max-width: 999px) {
  .app {
    flex-direction: column;
  }

  .mainContent {
    padding-top: calc(var(--navbar-height-desktop) + var(--padding-large));
    padding-bottom: calc(var(--footer-height-desktop) + var(--padding-large));
    width: 560px;
    max-width: calc(90% - var(--padding-large) * 2);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .centerColumn {
    order: 1;
    width: 100%;
  }

  .nowPlayingContainer,
  .recentlyPlayedContainer {
    width: 100%;
    margin: var(--margin-large) 0;
  }
}

@media (max-height: 1000px) {
  .app {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (min-width: 700px) and (max-height: 1000px) {
  .mainContent {
    padding-top: calc(var(--navbar-height-desktop) + 40px);
    padding-bottom: calc(var(--footer-height-desktop) + var(--padding-large));
  }
}

@media (max-width: 699px) {
  .mainContent {
    padding-top: calc(var(--navbar-height-mobile) + var(--padding-large));
    padding-bottom: calc(var(--footer-height-mobile) + var(--padding-large));
    max-width: 90%;
  }
}

.styledContainer {
  background: var(--component-bg-color);
  color: var(--font-color);
  padding: var(--padding-large);
  border-radius: var(--border-radius-large);
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
