<nav #navbar>
    <a href="https://music.mariolopez.org/vanilla" target="_self" rel="alternate">
        <img [src]="basePath + '/assets/images/typescript.svg'" alt="TypeScript" />
    </a>
    <a href="https://music.mariolopez.org/lit" target="_self" rel="alternate">
        <img [src]="basePath + '/assets/images/lit.svg'" alt="Lit" />
    </a>
    <a href="https://music.mariolopez.org/qwik" target="_self" rel="alternate">
        <img [src]="basePath + '/assets/images/qwik.svg'" alt="Qwik" />
    </a>
    <a href="https://music.mariolopez.org/react" target="_self" rel="alternate">
        <img [src]="basePath + '/assets/images/react.svg'" alt="React" />
    </a>
    <a href="https://music.mariolopez.org/solid" target="_self" rel="alternate">
        <img [src]="basePath + '/assets/images/solid.svg'" alt="Solid" />
    </a>
    <a href="https://music.mariolopez.org/svelte" target="_self" rel="alternate">
        <img [src]="basePath + '/assets/images/svelte.svg'" alt="Svelte" />
    </a>
    <a href="https://music.mariolopez.org/vue" target="_self" rel="alternate">
        <img [src]="basePath + '/assets/images/vue.svg'" alt="Vue" />
    </a>
    <a href="https://music.mariolopez.org/preact" target="_self" rel="alternate">
        <img [src]="basePath + '/assets/images/preact.svg'" alt="Preact" />
    </a>
    <a href="https://music.mariolopez.org/angular" target="_self" rel="alternate">
        <img [src]="basePath + '/assets/images/angular.svg'" alt="Angular" class="focused-icon" />
    </a>
    <a href="https://music.mariolopez.org/next" target="_self" rel="alternate">
        <img [src]="basePath + '/assets/images/next.svg'" alt="Next" />
    </a>
    <a href="https://music.mariolopez.org/blazor" target="_self" rel="alternate">
        <img [src]="basePath + '/assets/images/blazor.svg'" alt="Blazor" />
    </a>
    <a href="https://music.mariolopez.org/leptos" target="_self" rel="alternate">
        <img [src]="basePath + '/assets/images/leptos.svg'" alt="Leptos" />
    </a>
</nav>