<nav class="navbar">
    <a href="https://music.mariolopez.org/lit" target="_self" rel="alternate">
        <img src="/assets/images/lit.svg" alt="Lit" class="nav-icon" />
    </a>
    <a href="https://music.mariolopez.org/qwik" target="_self" rel="alternate">
        <img src="/assets/images/qwik.svg" alt="Qwik" class="nav-icon" />
    </a>
    <a href="https://music.mariolopez.org/react" target="_self" rel="alternate">
        <img src="/assets/images/react.svg" alt="React" class="nav-icon" />
    </a>
    <a href="https://music.mariolopez.org/solid" target="_self" rel="alternate">
        <img src="/assets/images/solid.svg" alt="Solid" class="nav-icon" />
    </a>
    <a href="https://music.mariolopez.org/svelte" target="_self" rel="alternate">
        <img src="/assets/images/svelte.svg" alt="Svelte" class="nav-icon" />
    </a>
    <a href="https://music.mariolopez.org/vanilla" target="_self" rel="alternate">
        <img src="/assets/images/typescript.svg" alt="TypeScript" class="nav-icon" />
    </a>
    <a href="https://music.mariolopez.org/vue" target="_self" rel="alternate">
        <img src="/assets/images/vue.svg" alt="Vue" class="nav-icon" />
    </a>
    <a href="https://music.mariolopez.org/preact" target="_self" rel="alternate">
        <img src="/assets/images/preact.svg" alt="Preact" class="nav-icon" />
    </a>
    <a href="https://music.mariolopez.org/next" target="_self" rel="alternate">
        <img src="/assets/images/next.svg" alt="Next" class="nav-icon" />
    </a>
    <a href="https://music.mariolopez.org/angular" target="_self" rel="alternate">
        <img src="/assets/images/angular.svg" alt="Angular" class="nav-icon angular-icon" />
    </a>
</nav>