@using Music.Components
@using Music.Models

<div class="app-bg"></div>
<div class="app">
    <Navbar />
    <div class="main-content">
        <div class="left-column">
            <div class="now-playing-container">
                <NowPlaying />
            </div>
            <RecentlyPlayedList />
        </div>
        <div class="right-column">
            <div class="recommendation-form-container">
                <RecommendationForm OnRecommend="HandleNewRecommendation" />
            </div>
            <div class="recommendations-list-container">
                <RecommendationList Recommendations="@_recommendations" />
            </div>
        </div>
    </div>
    <Footer />
</div>

@code {
    private readonly List<Song> _recommendations = new()
    {
        new Song("Song One", "Artist One", "Album One", "https://placehold.co/50"),
        new Song("Song Two", "Artist Two", "Album Two", "https://placehold.co/50")
    };

    private void HandleNewRecommendation(string songTitle)
    {
        var newRecommendation = new Song(songTitle, "Mock Artist", "Mock Album", "https://placehold.co/50");

        _recommendations.Add(newRecommendation);
    }
}