nav {
    display: flex;
    justify-content: center;
    padding: var(--padding-medium);
    background: var(--navbar-bg-color);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height-desktop);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;

    /* make navbar scrollable */
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

nav img {
    /* Navbar Icons should match the height of the Navbar */
    width: var(--navbar-height-desktop);
    height: var(--navbar-height-desktop);
    margin: 0 var(--margin-medium);
}

.focused-icon {
    opacity: 1;
}

nav img:not(.focused-icon) {
    opacity: 0.25;
}

nav img:hover {
    filter: drop-shadow(0 0 0.5em rgba(255, 255, 255, 0.3));
    transition: filter 0.3s ease;
    opacity: 1;
}

@media (max-width: 680px) {
    nav {
        height: var(--navbar-height-mobile);
    }

    nav img {
        width: var(--navbar-height-mobile);
        height: var(--navbar-height-mobile);
        margin: 0 7px;
    }

    nav a:last-child img {
        margin-right: var(--margin-large);
    }
}

@media (max-width: 510px) {
    nav {
        justify-content: flex-start;
    }
}