@if (songs().length > 0) {
  <div
    class="recentlyPlayedListRow"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
  >
    <div class="carouselContainer">
      <div
        #trackRef
        class="carouselTrack"
        [class.carouselTrackLeft]="settings().direction === 'left'"
        [class.carouselTrackRight]="settings().direction === 'right'"
        [class.carouselTrackPaused]="isHovered()"
      >
        @for (song of duplicatedSongs(); track trackByIndex($index, song)) {
          <div class="carouselItem">
            <app-song-item
              [song]="song"
              [index]="$index"
              [rowName]="rowName()"
            />
          </div>
        }
      </div>
    </div>
  </div>
}

